@font-face {
	font-family: "Ptsans";
	src: url("../fonts/ptsans.woff");
	font-weight: normal;
}

@font-face {
	font-family: "Ptsans";
	src: url("../fonts/ptsansbold.woff");
	font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
	font-family: Ptsans, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.shadow-container {
	width: 1200px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
	position: relative;
}

a {
	color: black;
	text-decoration: none;
}

.jumbotron {
	margin-bottom: 53px;
}

.title-site {
	width: 600px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 14px;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}


/****** menu ********/

.sort-hotel {
	display: flex;
	justify-content: space-between;
	padding: 30px 72px;
	border-bottom: 1px solid #ccc;
}

.sort-hotel a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.sort-hotel a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-hotel a:active {
	color: #000;
	border-bottom: 1px dotted #FFF;
}

.sort-hotel li:first-child {
	display: inline-block;
	vertical-align: baseline;
	width: 135px;
	margin-right: 27px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.sort-hotel li:not(first-child) {
	font-weight: 400;
}

.sort-hotel a.active {
	color: #81b3d2;
	border-bottom: 1px solid #FFF;
}

.nav ul {
	padding-left: 6%;
	padding-right: 6%;
}

.outside {
	width: 236px;
}

.inside {
	width: 280px;
}

.nav a:hover {
	color: #81b3d2;
}

.nav a:active {
	color: #dadada;
}

.nav ul {
	list-style-type: none;
	text-transform: uppercase;
	line-height: 26px;
	font-size: 14px;
	margin: 0;
	padding: 15px;
	padding-top: 14px;
	padding-bottom: 16px;
}

.sort-hotel ul {
	list-style-type: none;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	line-height: 18px;
}

.nav a.active {
	color: #766357;
}

.sort-hotel li:not(:first-child) {
	display: inline;
	padding-right: 29px;
	font-size: 12px;
}

.sort-hotel li:nth-child(2) {
	padding-right: 36px;
}

.nav ul::after {
	content: "";
	display: table;
	clear: both;
}

.nav ul {
	display: flex;
	justify-content: flex-start;
	padding-left: 6%;
	padding-right: 6%;
}

.nav a {
	font-weight: 700;
}

.left-side {
	align-self: flex-start;
	flex-grow: 1;
}

.right-side {
	flex-grow: 1;
	text-align: right;
}

header img {
	position: absolute;
	top: 0;
	left: 531px;
}


/********** main ********/

.sub-heading {
	font-size: 16px;
	line-height: 18px;
	color: black;
	font-weight: 600;
}

.gate-devil .second-screen-description,
.true-town .first-screen-description {
	width: 400px;
	min-height: 255px;
	color: #FFF;
	background-color: #81b3d2;
}

.enter-text-section {
	margin-bottom: 52px;
}

.enter-text-section p {
	width: 600px;
	margin: 14px auto;
	line-height: 26px;
	color: #333333;
	font-weight: 300;
	text-align: center;
}

.second-screen-description h2,
.second-screen-description span,
.second-screen-description p,
.first-screen-description h2,
.first-screen-description span,
.first-screen-description p {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 22px;
}

.first-screen-description h2,
.second-screen-description h2 {
	line-height: 21px;
	font-weight: bold;
}

.benefit-title {
	width: 180px;
	padding: 0;
	margin: 0;
	padding-top: 48px;
}

.benefit-description.text {
	width: 300px;
	font-size: 14px;
	font-weight: 100;
}

.benefit-description.text-2 {
	width: 320px;
	font-size: 14px;
	font-weight: 100;
}

.description-advantages span,
.advantages h2 {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
}

.third-screen {
	width: 100%;
	padding-top: 47px;
	padding-bottom: 43px;
	background-color: #eeeeee;
}

.third-screen span {
	font-weight: 400;
}

.third-screen p {
	width: 260px;
}

.trip-screen {
	position: relative;
	padding-top: 52px;
}

.trip-screen h3 {
	width: 400px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 22px;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.trip-screen p {
	width: 470px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
	color: #333333;
	font-size: 14px;
	font-weight: 100;
	text-align: center;
}

.popup-form {
	width: 570px;
	position: absolute;
	z-index: 9999;
	margin-left: 315px;
	background-color: #FFF;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-form-hidden {
	display: none;
}

.trip-screen button {
	display: block;
	height: 86px;
	width: 570px;
	font-size: 21px;
	font-weight: bold;
	font-family: Ptsans, Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	line-height: 26px;
	color: #FFF;
	margin-left: auto;
	margin-right: auto;
	background-color: #766357;
	border: 0;
}

.trip-screen button:hover {
	background-color: #604e43;
}

.trip-screen button:active {
	color: #928a85;
	background-color: #503e33;
}

.trip-screen button:focus {
	outline: 0;
}

.popup-form form {
	padding: 55px 55px 55px 55px;
}

.popup-form input {
	height: 26px;
	font-family: Ptsans, Arial, sans-serif;
	width: auto;
	padding: 4px 33px 3px 10px;
	border: 2px solid #f2f2f2;
	background-color: #f2f2f2;
}

.popup-form input:hover {
	background-color: #ebebeb;
	border-color: #ebebeb;
}

.popup-form input:focus {
	background-color: #FFF;
	border-color: #ebebeb;
	outline: none;
}

.people {
	padding-left: 1px;
}

.children {
	width: 50px;
}

.filter-hotel {
	background: url("../img/categories_header.jpg");
	background-size: cover;
}

.filter-hotel fieldset {
	padding-left: 5px;
	min-width: 256px;
	border: 0;
	padding: 0;
	margin: 0;
}

.half-col {
	width: 50%;
}

.hotel-input {
	display: flex;
	margin-bottom: 29px;
	height: 38px;
}

.hotel-input:last-child {
	margin-bottom: 20px;
}

.hotel-input.data input,
.hotel-input.data button {
	display: block;
	width: 38px;
	font-weight: 700;
	font-family: Ptsans, Arial, sans-serif;
	text-align: center;
	padding: 6px 0;
	flex-grow: 0;
	border: 0;
}

.hotel-input.data button {
	font-family: Ptsans, Arial, sans-serif;
	color: #a9a9a9;
	font-size: 25px;
	font-weight: 700;
	background-color: #f2f2f2;
}

.hotel-input.data button:hover {
	color: #000000;
}

.hotel-input.data button:active {
	color: #81b3d2;
}

.hotel-input.data button:nth-child(4) {
	margin-right: 50px;
}

.hotel-input.data label:nth-child(5) {
	width: 50px;
}

.hotel-input input {
	flex-grow: 1;
}

.label {
	width: 96px;
	padding-left: 2px;
	padding-top: 7px;
	margin-right: 16px;
	font-weight: 700;
}

.hotel-input:nth-child(3) {
	margin-bottom: 55px;
}

.hotel-input input[type="submit"] {
	width: 455px;
	height: 58px;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	background-color: #81b3d2;
	border: 0;
	border-radius: 0;
}

.hotel-input input[type="submit"]:hover {
	background-color: #669ec0;
}

.hotel-input input[type="submit"]:active {
	color: #94b9d2;
	background-color: #5496bd;
	border: 0;
}

.hotel-descriprion .detailed {
	display: inline-block;
	vertical-align: baseline;
	padding: 3px 16px;
	line-height: 21px;
	margin-right: 4px;
	text-align: center;
	color: #FFF;
	background-color: #81b3d2;
}

.hotel-descriprion .detailed:hover {
	background-color: #669ec0;
}

.hotel-descriprion .detailed:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.hotel-descriprion .book {
	display: inline-block;
	vertical-align: baseline;
	padding: 3px 17px;
	line-height: 21px;
	margin-right: 4px;
	text-align: center;
	color: #FFF;
	background-color: #766357;
}

.hotel-descriprion .book:hover {
	background-color: #604e43;
}

.hotel-descriprion .book:active {
	color: #928a85;
	background-color: #503e33;
}

.filter-hotel-form {
	display: flex;
	min-height: 163px;
	justify-content: space-between;
}

.first-screen,
.third-screen,
.second-screen {
	display: flex;
}

.second-screen,
.first-screen {
	min-height: 256px;
}

.first-screen {
	background: #b0c5d8 url("../img/index_06.jpg") no-repeat 100% 0;
	background-size: contain;
}

.second-screen {
	display: flex;
	justify-content: flex-end;
	background: #df9579 url("../img/index_19.jpg") no-repeat 0 0;
	background-size: contain;
}

.description-advantages,
.third-screen {
	display: flex;
	justify-content: space-around;
}

.description-advantages {
	min-height: 325px;
	margin-bottom: 5px;
}

.description-advantages .advantages,
.third-screen .advantages {
	width: 33.33333%;
	text-align: center;
}

.description-advantages .advantages {
	padding: 56px 0px;
}

.advantages img {
	margin-bottom: 21px;
}

.advantages span {
	display: block;
	margin-bottom: 21px;
	text-align: center;
}

.advantages p {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	color: #333333;
	line-height: 21px;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	text-align: center;
}

.third-screen p {
	width: 270px;
}

.advantages h2 {
	width: 140px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 21px;
	line-height: 21px;
	text-align: center;
}

.filter-hotel {
	padding: 27px 72px;
	padding-bottom: 7px;
	background-image: url("../img/categories_header.jpg");
	background-size: cover;
}

.filter-hotel-form legend {
	color: #FFF;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 24px;
}

input[type="checkbox"]+label {
	color: #FFF;
	font-size: 14px;
}

input[type="checkbox"]:disabled+label::before {
	background: url("../img/svg/checkbox-off-dis.svg") no-repeat;
}

input[type="checkbox"]:checked:disabled+label::before {
	background: url("../img/svg/checkbox-on-dis.svg") no-repeat;
}

.rating-container {
	min-height: 90px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

.rating-container .raiting {
	align-items: flex-end;
}

.content-categories {
	display: flex;
	flex-direction: column;
}

.hotel-element {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 30px 72px;
	border-bottom: 1px solid #ccc;
}

.hotel-descriprion {
	margin-left: 31px;
}

.hotel-descriprion h3 {
	font-size: 21px;
	margin-top: -5px;
	margin-bottom: 7px;
	line-height: 26px;
	font-weight: 900;
}

.star-container {
	margin-left: auto;
	flex-grow: 1;
}

.hotel-descriprion span {
	font-weight: 400;
}

.footer {
	position: relative;
	width: 1200px;
}

footer {
	position: absolute;
	width: 1060px;
	bottom: 0;
	padding: 36px 70px;
	display: flex;
	justify-content: space-around;
	height: 48px;
	background-color: rgba(255, 255, 255, 0.7);
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	position: relative;
	padding-left: 40px;
	padding-top: 0;
	line-height: 21px;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	margin-bottom: 25px;
}

input[type="checkbox"]:last-child+label:last-child {
	margin-bottom: 0;
}

input[type="checkbox"]+label::before {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
	width: 27px;
	height: 27px;
	background: url("../img/svg/checkbox-off.svg") no-repeat;
}

input[type="checkbox"]:checked+label::before,
input[type="checkbox"]:checked+label::before {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
	width: 27px;
	height: 27px;
	background: url("../img/svg/checkbox-on.svg") no-repeat;
}

.hotel-input .calendar {
	position: absolute;
	top: 6px;
	right: 4px;
	fill: #cacaca;
	border: 0;
	background: none;
}


/* Ползунок */

.filter-range {
	width: 318px;
	margin-left: auto;
	color: #FFF;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 10px;
	padding-left: 3px;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 32px;
	width: 315px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #FFF;
	border-radius: 2px;
}

.price-controls label {
	display: inline-block;
	vertical-align: baseline;
	padding-top: 0;
	font-size: 14px;
	line-height: 33px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #FFF;
	transform: translate(-50%, -50%);
}

.price-controls .min-price,
.price-controls .max-price {
	width: 81px;
	padding-left: 65px;
}

.price-controls input {
	width: 33px;
	height: 33px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls {
	position: relative;
	margin-bottom: 33px;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #fff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	top: -10px;
	border: 9px solid #fff;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-min {
	left: 80%;
}

.btn-transparent {
	display: block;
	padding: 5px 33px;
	margin-left: 87px;
	font-size: 14px;
	line-height: 21px;
	font-family: Ptsans, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #FFF;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

.btn-transparent:hover {
	color: black;
	background: #FFF;
}

.calendar {
	fill: cacaca;
}

.calendar:hover {
	fill: #000000;
}

.calendar:active {
	fill: #81b3d2;
}

.name-btn {
	margin-bottom: 13px;
	line-height: 21px;
}

.name-btn span {
	display: inline-block;
	vertical-align: baseline;
	width: 110px;
	margin-right: 3px;
}

.raiting-show {
	padding: 3px 13px;
	font-weight: 100;
	color: #666666;
	background-color: #f2f2f2;
}

.sort-menu {
	display: inline-block;
	vertical-align: baseline;
}

.star:before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	top: -2px;
	left: 4px;
	width: 20px;
	height: 20px;
	background: url("../img/svg/star.svg") no-repeat;
}

.dir-container {
	display: flex;
	text-align: right;
	padding: 0 5px;
	position: relative;
	top: 2px;
	left: 8px;
}

.icon-up-dir,
.icon-down-dir {
	padding: 0 5px;
	fill: #cacaca;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
	fill: #000;
}

.icon-up-dir:active,
.icon-down-dir:active,
.icon-up-dir.active,
.icon-down-dir.active {
	fill: #81b3d2;
}

.title-hotel a:hover {
	color: #81b3d2;
}

.title-hotel a:active {
	color: #cacaca;
}

.heshteg {
	position: relative;
	top: 11px;
	width: 178px;
	font-size: 21px;
	font-weight: 700;
	padding-left: 62px;
}

.sochial-links {
	position: relative;
	top: -3px;
	left: 4px;
	width: 155px;
	margin-left: auto;
	margin-right: auto;
	line-height: 48px;
}

.academy-link {
	position: relative;
	left: -29px;
	top: -2px;
	width: 199px;
	padding-left: 45px;
}

.academy-link .by {
	margin-right: 9px;
}

.hotel-input.button input {
	flex-grow: 1;
	padding: 0;
	font-size: 21px;
	font-family: Ptsans, Arial, sans-serif;
}

.input-container {
	position: relative;
	flex-grow: 1;
}

.input-container input {
	width: 298px;
	text-transform: uppercase;
	font-weight: 600;
}

.heshteg,
.academy-link,
.sochial-links {}

.academy-link a {
	display: flex;
	align-content: center;
	height: 48px;
	font-weight: 400;
}

.academy-link:hover svg {
	fill: #81b3d2;
}

.academy-link:active svg {
	fill: #bdbbbc;
}

.academy-link span {
	align-self: center;
	margin-right: 5px;
}

.academy-link svg {
	width: 115px;
	position: relative;
	top: 2px;
	left: -2px;
}

footer .social {
	display: inline-block;
	width: 45px;
	height: 48px;
	margin-right: 4px;
	background: #81b3d2;
	vertical-align: middle;
}

.social:hover {
	background: #669ec0;
}

.social:active {
	background: #5496bd;
}

.social:active span {
	opacity: 0.5;
}

.social span {
	display: block;
	width: 48px;
	height: 48px;
}

.map {
	display: flex;
}

.minus {
	position: relative;
	top: -2px;
}

.twitter {
	background: url("../img/svg/twitter.svg") no-repeat center center;
}

.facebook {
	background: url("../img/svg/fb-icon.svg") no-repeat center center;
}

.youtube {
	background: url("../img/svg/youtube.svg") no-repeat center center;
}
