@font-face{
	
	font-family: 'Ptsans'; 
	src: url(../fonts/ptsans.woff); 
  
}

body {
  margin: 0;
  padding: 0;

  font-family: Ptsans, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
	
  background-color: #f2f2f2;
 }

header, 
main,
footer{
	width: 1200px;
	
	margin-right: auto;
	margin-left: auto;
	margin-left: auto;
	
	background-color: #FFF;
}

header{
	position: relative;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4{
	padding: 0;
	margin: 0;
}


.jumbotron{
	margin-bottom: 60px;	
}

.title-site{
	width: 600px;
	text-align: center;
	font-size: 21px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}


.visually-hidden{
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0;	
}

/****** menu ********/

.sort-hotel{
	
}

nav ul{
	padding-left: 6%;
	padding-right: 6%;
}

nav ul,
.sort-hotel ul{
	list-style-type: none;
	text-transform: uppercase;
	margin: 0;
	padding: 15.5px 0;
}

.sort-hotel ul li{
	display: inline;
}

nav ul::after{
	content: '';
	display: table;
	clear: both;
}

nav ul{
	display: flex;
	justify-content: flex-start;
	
	padding-left: 6%;
	padding-right: 6%;
}

nav li a{
	font-weight: 700;
}

.left-side{
	align-self: flex-start;
	flex-grow: 1;
}

.right-side{
	align-self: flex-end;
	flex-grow: 1;
	
	text-align: right;
}

header img{
	position: absolute;
	top: 0;
	left: 531px;
}


/********** main ********/
h1 .heading{
	font-size: 28px;
	line-height: 32px;
	color: #FFF;
	font-weight: 700;
}

h2 .sub-heading{
	font-size: 16px;
	line-height: 18px;
	color: black;
	font-weight: 600;
}

.gate-devil .second-screen-description,
.true-town .first-screen-description{
	width: 400px;
	height: 255px;
	
	color: #FFF;
	
	background-color: #81b3d2;
}

.enter-text-section p{
	width: 600px;
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 44px;
	
	color: #333333;
	font-weight: 300;
	text-align: center;
}

.second-screen-description h2,
.second-screen-description span,
.second-screen-description p,
.first-screen-description h2,
.first-screen-description span,
.first-screen-description p{
	margin-right: auto;
	margin-left: auto;
	
	text-align: center;
}

.benefit-title{
	width: 180px;
	
	padding-top: 48px;
}

.benefit-description{
	width: 340px;
	font-weight: 100;
}

.description-advantages span,
.advantages h2{
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
}

.third-screen{
	width: 100%;
	height: 255px;
	background-color: #eeeeee;
}

.trip-screen{
	padding-top: 56px;
}

.trip-screen h3{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 37px;
	
	font-size: 30px;
	text-align: center;
}

.trip-screen p{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 138px;
	
	color: #333333;
	font-size: 14px;
	font-weight: 100;
	text-align: center;
}

.popup-form{
	width: 570px;
	top: 2143px;
    position: absolute;
    z-index: 9999;

    left: 50%;
    margin-left: -285px;
	
	background-color: #FFF;
}

.popup-form h4{
	display: inline-block;
	
	height: 86px;
	width: 100%;
	

	
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	line-height: 86px;
	color: #FFF;
	
	background-color: #766357;
}

.popup-form form{
	padding: 0 55px 55px 55px;
}

.filter-hotel{
	background: url(../img/categories_header.jpg);
}

.filter-hotel fieldset{
	border: 0;
}

.hotel-input input[type="submit"]{
	width: 455px;
	height: 55px;
	
	color: #FFF;
	text-transform: uppercase;
	
	background-color: #81b3d2;
	border: 0;
	border-radius: 0;
}

.hotel-descriprion .detailed{
	padding: 5px;
	
	color: #FFF;
	
	background-color: #81b3d2;
}

.hotel-descriprion .book{
	padding: 5px;
	
	color: #FFF;
	
	background-color: #766357;
}

.filter-hotel-form{
	display: flex;
	justify-content: space-between;
}

.first-screen,
.third-screen,
.second-screen{
	display: flex;	
}

.second-screen,
.first-screen{
	height: 255px;
}

.first-screen{
	background: url(../img/index_06.jpg) no-repeat 100% 100%;
}

.description-advantages,
.third-screen{
	display: flex;
	justify-content: space-around;
    align-items: center;
}


.description-advantages{
	height: 325px;	
}
third-screen{
	height: 255px;	
}

.description-advantages .advantages,
.third-screen .advantages{
	width: 33%;
}

.advantages img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}
.advantages span{
	display: block;
	text-align: center;
}

.advantages p{
	width: 320px;
	margin-right: auto;
	margin-left: auto;
	
	color: #333333;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	text-align: center;
}

.advantages h2{
	width: 140px;
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
}

.filter-hotel{
	height: 273px;
	background-image: url(../img/categories_header.jpg);
}

.content-categories{
	display: flex;
	flex-direction: column;
	
	padding: 0 66px; 
}

.hotel-element{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.hotel-element{
	padding: 31px 0;
	
	border-bottom: 1px solid #ccc;
}

.hotel-descriprion{
	margin-left: 30px;
}

.hotel-descriprion h3{
	font-size: 21px;
	font-weight: 900;
}

.footer{
	position: relative;
	width: 1200px;
}

footer{
	display: flex !important;
	justify-content: space-around;
	align-items: center;

	margin-right: auto;
	margin-left: auto;
	
	height: 120px;
	background-color: rgba(255, 255, 255,50);
}

.heshteg{
	font-size: 21px;
	font-weight: 700;
}

.heshteg,
.academy-link{
	width: 240px;
}

.sochial-links{
	text-align:center;
	width: 400px;
}

footer .social{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    background: #81b3d2;
    vertical-align: middle;	
}
